{% extends base_layout %}

{% block header_title %}
        {% trans %}Apps{% endtrans %}
{% endblock %}

{% block header_title_lead %}
    <h1>My Apps</h1>
    <p class="lead">
    	Apps are stored in <a href="http://gist.github.com/">Gists</a> on your Github account.  You can also <a href="{{ uri_for("app-public") }}">browse existing apps</a> shared by other TinyProbe users.
    </p>
{% endblock %}

{% block content %}
	<table class="table table-striped table-hover">
	  <thead>
	    <tr>
	      <th></th>
	      <th>Name</th>
	      <th>Description</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	  	{% for item in apps %}
	  		<tr>
                <td><img class="app-icon" src="{{item.icon}}"/></td>
	  			<td>{{item.name}}</td>
	  			<td>{{item.description}}</td>
	  			<td>
	  				<a class="btn btn-small" title="edit" href="{{item.url}}"><i class="icon-edit"></i></a>
	  				<a class="btn btn-small" title="share" href="#"><i class="icon-share"></i></a>
	  				<a class="btn btn-small" title="favorite" href="#"><i class="icon-star"></i></a>
	  			</td>
	  		</tr>
	    {% endfor %}
	  </tbody>
	</table>
    <div class="form-actions">
        <a href="{{ uri_for("apps-new") }}" class="btn btn-inverse btn-large">{% trans %}Create an App{% endtrans %}</a>
    </div>
{% endblock %}

{% block mediaJS %}
<script type="text/javascript">
    $().ready(function() {
        $("#form_register").validate({
            submitHandler: function(form) {
                    form.submit();
            },
            rules: {
                password: 'required',
                c_password: {
                    required: true,
                    equalTo: '#password'
                }
            },
            errorPlacement: function(error, element) {
                element.parent().parent().addClass("error");
                error.addClass("help-inline").appendTo( element.parent() );
            }
        });
    });
</script>
{% endblock %}

