{% extends base_layout %}

{% block title %}
        {% trans %}Apps{% endtrans %}
{% endblock %}

{% block header_title_lead %}
    <h1><a href="{{ uri_for("apps-public") }}">Public Apps</a> / {{ app.name }}</h1>
    <div class="row">
    	<div class="span2">
			<img class="img-polaroid" src="{{ app.thumb_url }}">
    	</div>
    	<div class="span10">
    		<p>by <a href="http://github.com/{{ app.github_author }}">@{{ app.github_author }}</a></p>
    	  	<p class="lead">{{ app.description }}</p>
    	  	{{ macros.fork_gist_widget(app.id) }}
    	</div>
    </div>
{% endblock %}

{% block content %}

{% endblock %}