html, body {
	height: 100%;
	vertical-align: baseline;
	padding-top: 0px;
}

#page {
	min-width: 100%;
	vertical-align: baseline;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	margin: 0 auto -200px;
}

#content {
	padding-top: 0px;
}

.subhead {
	padding-top: 80px;
}

.blurb {
	margin-top: 16px;
	font-size: 30px;
	font-weight: 200;
}

.btn.huge {
	font-size: 24px;
	line-height: normal;
	padding: 15px 18px 15px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.hero {
	background: #F0F0F0;
	border-top: 3px solid #EBEBEB;
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 30px;
	padding: 70px 0 6px;
	width: 100%;
}

.hero h2 {
	font-size: 42px;
	font-weight: bold;
}

.marketing p {
	font-size: 15px;
}

a {
	color: #8D8D8D;
	text-decoration: underline;
}
a:hover {
    color: #8D8D8D;
    text-decoration: underline;
}
a.btn {
	text-decoration: none;
}

a.close {
	color: white;
}

a.close:visited {
	color: white !important;
}

a.close:active {
	color: white;
}

a.close:hover {
	color: white;
}

a.close:link {
	color: white;
}

.alert {
	border: none;
}

.alert-success {
	color: #EEE;
	background-color: #444;
	border-color: #DDD;
}

.alert-warning {
	color: #EEE;
	background-color: #444;
	border-color: #DDD;
}

.alert-info {
	color: #EEE;
	background-color: #444;
	border-color: #DDD;
}

.app-icon {
	height: 48px;
	width: 48px;
}

#third_party_login .social-login-icons a.social-btn {
    display: inline-block;
    margin: 0 0 0.5em 0;
    text-indent: -9000px;
    width: 32px;
    height: 32px;
    background-image: url(../img/social-login-icons.png);
    background-repeat: no-repeat;
}
.social-btn-google{
    background-position: 0 0;
}
.social-btn-github{
    background-position: -32px 0;
}
.social-btn-twitter{
    background-position: -64px 0;
}
.btn-remove {
	margin-left: 8px;
}

.dropdown-menu a {
	text-decoration: none;
}

footer a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: inherit;
}

h2 {
	font-size: 22px;
	margin-bottom: 0px;
}

h4 {
	margin-bottom: 4px;
}

.container {
	padding-left: 0px;
}

.navbar .brand {
	margin: 8px 0px 6px;
	padding-left: 4px;
}

.navbar .btn-navbar {
	margin-top: 13px;
}

.brand img {
	margin-bottom: 3px !important;
	margin-right: 4px !important;
}

a.brand {
	text-decoration: none;
}

.navbar .navbar-inner {
	background-image: -webkit-linear-gradient(top, #FFF, #F8F8F8);
	background-image: -o-linear-gradient(top, #FFF, #F8F8F8);
	background-image: linear-gradient(to bottom, #FFF, #F8F8F8);
	border-bottom: 1px solid #D2D2D2;
}

.navbar .divider-vertical {
	height: 41px;
}

.navbar-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
}

.navbar .nav.pull-right {
	margin: 10px 4px 6px;
}

.dropdown-menu {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	background-image: none;
	min-width: 240px;
	margin-top: 6px;
}

::selection {
	background: #EBEBEB;
}

.navbar .nav > li > a {
	padding: 3px 10px 4px 8px;
	margin-top: 10px;
	margin-right: 12px;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    color: white;
    background-color: #08C;
}

.navbar > a:hover {
    background-color: red;
}

.navbar .divider-vertical {
	margin-right: 0px;
}

.auth-at-dropdown label, input, button, select, textarea {
	font-size: 14px;
}

input {
    outline: none;
}

div.control-group a {
	font-size: 14px;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    background-color: #CDCDCD;
}
.control-label {
	margin-bottom: 0px;
}

img.bs-icon {
	float: left;
	margin-top: 18px;
	padding-right: 10px;
}

span.required {
    color: #2E2E2E;
}

.input-xlarge {
	width: 420px;
}

.input-xlong {
	width: 840px;
}

.form-actions {
	padding-left: 0px !important;
}

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
	color: #2E2E2E;
	border-color: #222222;
}

label, input, button, select, textarea {
	font-size: 20px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 19px;
	height: 100%;
}

.form-actions {
	border top: none;
}

#country {
	width: 300px;
}

ul.dropdown-menu {
	font-size: 14px;
}

.btn-large {
	font-size: 20px;
	line-height: 100%;
}

footer {
	vertical-align: baseline;
	margin-top: 19px;
	padding-top: 19px;
	font-size: 13px;
	background: #252525;
	border-top: 0;
    border-top: 0;
    height: 166px;
}
footer h4 {
    color: #999;
}
footer p {
    color: #999;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
footer #footer-floor {
    background: #1b1b1b;
    padding-top: 10px;
}
footer #footer-floor h3, footer #footer-floor h4 {
    color: #fff;
}
footer #footer-floor #elsewhere-msg {
    padding-top: 18px;
}
footer #elsewhere-icons {
    padding: 0px;
    margin: 0px;
}
footer #elsewhere-icons a {
    background: url("/img/footer-icons-sprite.png") 0 0 no-repeat;
    float: left;
    width: 35px;
    height: 35px;
    overflow: hidden;
    text-indent: -900px;
    margin: 0 5px 0 0;
}

footer #elsewhere-icons a.google { background-position: -35px 0 }
footer #elsewhere-icons a.github { background-position: -70px 0 }

footer ul, h4 {
	margin-top: 4px;
}
footer ul {
	margin-bottom: 16px;
}
.footer, .push {
	height: 200px;
}

.form-horizontal .controls {
	margin-left: 0px;
}

.recaptchatable #recaptcha_response_field {
	width: 136px !important;
	font-size: 11pt;
	height: 20px !important;
}

#cards {
	margin-left: 60px;
}
#deck #cards {
	*zoom: 1;
	padding-top: 30px; 
}
#deck #cards:after {
	content: "";
	display: table;
	clear: both; 
}
.card {
    height: 280px;
    margin: 30px 10px 20px 10px;
    position: relative;
    width: 320px;
    cursor: pointer;
    -webkit-perspective: 600px;
    perspective: 600px;
}
.card h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 20px 10px 10px;
}
.card h4 {
    margin: 20px 10px 0px;
    font-size: 12px;
    text-transform: uppercase;
}
.card strong {
    font-size: 12px;
    text-transform: uppercase;
}
.card p { margin: 0 10px 10px }
.card a {
    color: #999999;
    font-weight: normal;
    background: transparent url(../images/link_icon.png) 0 -38px no-repeat;
    padding-left: 15px;
}
.card a:hover {
    color: #444;
    background-position: 0 -58px;
}
.card ul {
    margin: 3px 10px 10px;
    padding: 0 0 0 2px;
    list-style: none;
    color: #999999;
}
.card ul li a { font-weight: normal }
.card img { margin: 0 }
.card .front,
.card .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #dddddd;
    padding: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.5s, 0.2s;
    -moz-transition-duration: 0.5s, 0.2s;
    -ms-transition-duration: 0.5s, 0.2s;
    -o-transition-duration: 0.5s, 0.2s;
    transition-duration: 0.5s, 0.2s;
    -webkit-transition-property: -webkit-transform, box-shadow;
    -moz-transition-property: -moz-transform, box-shadow;
    -ms-transition-property: -ms-transform, box-shadow;
    -o-transition-property: -o-transform, box-shadow;
    transition-property: transform box-shadow;
}
.card .front {
    z-index: 900;
    background: #fff;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.card .front a { visibility: hidden }
.card.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card .back {
    z-index: 800;
    border-color: #cccccc;
    background: #444;
    border-color: #444;
    color: #fff;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.card .back a {
    background-position: 0 2px;
    color: rgba(255, 255, 255, 0.75);
}
.card .back a:hover {
    color: white;
    background-position: 0 -18px;
}
.card.flip .back {
    z-index: 1000;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.card .front:hover {
    border-color: #cccccc;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.card .front:hover a { visibility: visible }
.card .flip_back,
.card .flip_front {
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}
.card .flip_front { background: transparent url("../images/flip_icon.png") 0 0 no-repeat }
.card .flip_back { background: transparent url("../images/flip_icon.png") 0 -30px no-repeat }
.card:hover { z-index: 1000 }
.card:hover .flip_back,
.card:hover .flip_front { visibility: visible }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}


