/* foo */
html, body {
	height: 100%;
	vertical-align: baseline;
	padding-top: 0px;
}

#page {
	min-width: 100%;
	vertical-align: baseline;
	min-height: 100%;
	height: 100%;
	height: auto !important;
	margin: 0 auto -200px;
}

#content {
	padding-top: 0px;
}

.subhead {
	padding-top: 80px;
}

.blurb {
	margin-top: 16px;
	font-size: 30px;
	font-weight: 200;
}
.btn.huge {
	font-size: 24px;
	line-height: normal;
	padding: 15px 18px 15px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
.hero {
    background: #F0F0F0;
    border-top: 3px solid #EBEBEB;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 30px;
    padding: 30px 0 31px;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    zoom: 1;
    text-align: center;
    background: #F0F0F0;
    border-top: 3px solid #EBEBEB;
    border-bottom: 1px solid #E1E1E1;
    margin-bottom: 30px;
    padding: 70px 0 6px;
    width: 100%;
}
.hero h1, .hero h2, .hero h3 {
    color: #454545;
    margin-bottom: 0;
    line-height: 1;
    letter-spacing: -1px;
}
.hero h1 {
    font-size: 45px;
}
.hero h2 {
    font-size: 42px;
    font-weight: bold;
}
#home .hero h2 {
    font-size: 40px;
}
.hero h3 {
    font-size: 24px;
    color: #999;
    margin-top: 10px;
}
.hero p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
}
.hero .big-media {
    margin-top: 20px;
}

.hero .big-media img {
  margin-bottom: -6px;
}

.marketing p {
	font-size: 15px;
}

a {
	color: #8D8D8D;
	text-decoration: underline;
}
a:hover {
    color: #8D8D8D;
    text-decoration: underline;
}
a.btn {
	text-decoration: none;
}
a.close {
	color: #EEE !important;
    opacity: 1 !important;
}

a.close:visited {
	color: white !important;
}

a.close:active {
	color: white;
}

a.close:hover {
	color: white;
}

a.close:link {
	color: white;
}

.alert {
	border: none;
}

.alert-success {
	color: #EEE;
	background-color: #444;
	border-color: #DDD;
}

.alert-warning {
	color: #EEE;
	background-color: #444;
	border-color: #DDD;
}

.alert-info {
	color: #EEE;
	background-color: #444;
	border-color: #DDD;
}

.app-icon {
	height: 48px;
	width: 48px;
}
.btn-remove {
	margin-left: 8px;
}

.dropdown-menu a {
	text-decoration: none;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a
footer a {
    background-image: none;
	text-decoration: none;
    background-color: #444;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: inherit;
}

h2 {
	font-size: 22px;
	margin-bottom: 0px;
}

h4 {
	margin-bottom: 4px;
}

.container {
	padding-left: 0px;
}

.navbar .brand {
	margin: 8px 0px 6px;
	padding-left: 4px;
}

.navbar .btn-navbar {
	margin-top: 13px;
}

#join {
    margin-left: 10px;
    margin-right: 5px;
}

#user {
    margin-left: 10px;
}

.brand img {
	margin-bottom: 3px !important;
	margin-right: 4px !important;
}

a.brand {
	text-decoration: none;
}

.navbar .navbar-inner {
	background-image: -webkit-linear-gradient(top, #FFF, #F8F8F8);
	background-image: -o-linear-gradient(top, #FFF, #F8F8F8);
	background-image: linear-gradient(to bottom, #FFF, #F8F8F8);
	border-bottom: 1px solid #D2D2D2;
}

.navbar .divider-vertical {
	height: 41px;
}

.navbar-container {
	max-width: 1170px;
	margin-left: auto;
	margin-right: auto;
	zoom: 1;
}

.navbar .nav.pull-right {
	margin: 6px 4px 6px;
}

.dropdown-menu {
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	background-image: none;
	min-width: 240px;
	margin-top: 6px;
}
.dropdown-label {
    margin-left: 10px;
}
::selection {
	background: #EBEBEB;
}

.nav-tabs {
    margin: 0px;
} 

.nav {
    margin-left: 0;
    margin-bottom: 4px;
}
a.brand:hover {
    color: #444 !important;
}
.navbar .brand {
    margin: 8px 0px 6px;
    padding-left: 4px;
    color: black;
    font-weight: 200;
}
.navbar-link:hover { color: black; }
.navbar .btn-navbar {
    margin-top: 13px !important;
}

.navbar .nav {
    margin-right: 0px;
}

.navbar .nav > li {
    margin-top: 3px;
}
a.active, a.active:hover {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-top: 5px !important;
    margin-bottom: 2px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    background-color: #999 !important;
    float: none;
    padding: 10px 15px 10px;
    text-decoration: none;
    text-shadow: none !important;
}
.navbar .btn,
.navbar .btn-group {
    margin-left: 0px;
}

.navbar .nav > li > a {
	padding: 3px 10px 4px 8px;
	margin-top: 10px;
	margin-right: 12px;
}

.navbar > a:hover {
    background-color: red;
}

.navbar .divider-vertical {
	margin-right: 0px;
}

.auth-at-dropdown label, input, button, select, textarea {
	font-size: 14px;
}

input {
    outline: none;
}

div.control-group a {
	font-size: 14px;
}
.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
    background-color: #CDCDCD;
}
.control-label {
	margin-bottom: 0px;
}

img.bs-icon {
	float: left;
	margin-top: 18px;
	padding-right: 10px;
}

span.required {
    color: #2E2E2E;
}

.form-actions {
    background-color: transparent;
}
.auth-at-dropdown,
.auth-at-home,
.auth-at-loginpage {

}
.auth-at-dropdown .control-group,
.auth-at-home .control-group {
    margin-bottom: 0;
}
.auth-at-dropdown input,
.auth-at-home input {
    width: 96%;
}
    .auth-at-dropdown input[type=checkbox],
    .auth-at-home input[type=checkbox] {
        width: auto;
    }

.auth-at-dropdown .btn-login,
.auth-at-home .btn-login {
    margin: 0;
}

.auth-at-dropdown {

}
form.auth-at-dropdown {
    margin: 0;
}
.auth-at-dropdown a {
    padding: 0;
    color: #0088cc;
    text-decoration: none;
}
.auth-at-dropdown a:hover {
    color: #005580;
    text-decoration: underline;
}
.auth-at-loginpage fieldset {
    margin: 0 auto;
}
.auth-at-loginpage .btn-login {
    margin-right: 1em;
}
.auth-at-loginpage .remember {
    display: inline;
}
.forgot_pass {
    margin-left: 4px;
}
.remember_me
{
    padding-right: 10px;
    white-space: nowrap;
    font-size: 14px;
    padding-left: 4px;
}
::selection {
    background: #FFFFC0;
    color: #614C3E;
}
@media (max-width: 979px) {
    .nav-collapse .dropdown-menu #form_login_user a {
        padding: 0;
    }
}
#third_party_login h4 {
    padding: 0.5em 0;
}
#third_party_login .social-login-icons a.social-btn {
    display: inline-block;
    margin: 6px 0 0 0;
    text-indent: -9000px;
    width: 32px;
    height: 32px;
    background-image: url(../img/social-login-icons.png);
    background-repeat: no-repeat;
}
.social-btn-google{
    background-position: 0 0;
}
.social-btn-facebook{
    background-position: -32px 0;
}
.social-btn-github{
    background-position: -32px 0;
}
.social-btn-twitter{
    background-position: -64px 0;
}
.input-xlarge {
	width: 420px;
}

.input-xlong {
	width: 840px;
}

.form-actions {
	padding-left: 0px !important;
}

.input-xlarge {
    width: 720px;
}

.control-group.error > label, .control-group.error .help-block, .control-group.error .help-inline {
	color: #2E2E2E;
	border-color: #222222;
}

label, input, button, select, textarea {
	font-size: 20px;
}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	font-size: 19px;
	height: 100%;
}

.form-actions {
	border top: none;
}

#country {
	width: 300px;
}

ul.dropdown-menu {
	font-size: 14px;
}

.btn-large {

}

footer {
	vertical-align: baseline;
	margin-top: 19px;
	padding-top: 19px;
	font-size: 13px;
	background: #252525;
	border-top: 0;
    border-top: 0;
    height: 166px;
}
footer h4 {
    color: #999;
}
footer p {
    color: #999;
}
footer a {
    color: #fff;
    text-decoration: none;
}
.navbar .nav>li>a:hover {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    margin-top: 5px !important;
    margin-bottom: 2px !important;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
    color: white !important;
    background-color: #999 !important;
    float: none;
    text-decoration: none;
    text-shadow: none !important;
}
footer a:hover {
    color: #fff;
    text-decoration: underline;
}
footer #footer-floor {
    background: #1b1b1b;
    padding-top: 10px;
}
footer #footer-floor h3, footer #footer-floor h4 {
    color: #fff;
}
footer #footer-floor #elsewhere-msg {
    padding-top: 18px;
}
footer #elsewhere-icons {
    padding: 0px;
    margin: 0px;
}
footer #elsewhere-icons a {
    background: url("/img/footer-icons-sprite.png") 0 0 no-repeat;
    float: left;
    width: 35px;
    height: 35px;
    overflow: hidden;
    text-indent: -900px;
    margin: 0 5px 0 0;
}

footer #elsewhere-icons a.google { background-position: -35px 0 }
footer #elsewhere-icons a.github { background-position: -70px 0 }

footer ul, h4 {
	margin-top: 4px;
}
footer ul {
	margin-bottom: 16px;
}
.footer, .push {
	height: 200px;
}

.form-horizontal .controls {
	margin-left: 0px;
}

.recaptchatable #recaptcha_response_field {
	width: 136px !important;
	font-size: 11pt;
	height: 20px !important;
}

#cards {
	margin-left: 15px;
    padding: 30px 0px 30px 0px;
}
#deck #cards {
	*zoom: 1;
	padding-top: 0px; 
}
#deck #cards:after {
	content: "";
	display: table;
	clear: both; 
}
.textrow {
    height: 236px;
}
.textrow h4{
    margin-top: 20px;
    border-bottom: 1px dashed #ddd;
}
.iconrow {
    margin-left: 10px;
}
span.app_name {
    margin-right: 4px;
}
.card {
    height: 280px;
    margin: 0px 10px 20px 10px;
    position: relative;
    width: 226px;
    cursor: pointer;
    -webkit-perspective: 600px;
    perspective: 600px;
}
.card h3 {
    font-size: 14px;
    line-height: 16px;
    font-weight: bold;
    margin: 8px 10px 0px 8px;
}
.card h4 {
    margin: 8px 10px 0px 8px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}
.card strong {
    font-size: 12px;
    text-transform: uppercase;
}
.card p { 
    font-size: 12px !important;
    line-height: 14px;
    margin: 4px 10px 0px 8px;
}
.card a:hover {
    color: #444;
    background-position: 0 -58px;
}
.card ul {
    margin: 3px 10px 10px;
    padding: 0 0 0 2px;
    list-style: none;
    color: #999999;
}
.card ul li a { font-weight: normal }
.card img { margin: 0 }
.card .front,
.card .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border: 1px solid #dddddd;
    padding: 1px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-transition-duration: 0.5s, 0.2s;
    -moz-transition-duration: 0.5s, 0.2s;
    -ms-transition-duration: 0.5s, 0.2s;
    -o-transition-duration: 0.5s, 0.2s;
    transition-duration: 0.5s, 0.2s;
    -webkit-transition-property: -webkit-transform, box-shadow;
    -moz-transition-property: -moz-transform, box-shadow;
    -ms-transition-property: -ms-transform, box-shadow;
    -o-transition-property: -o-transform, box-shadow;
    transition-property: transform box-shadow;
}
.card .front {
    z-index: 900;
    background: #fff;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.card.flip .front {
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card .back {
    z-index: 800;
    border-color: #cccccc;
    background: #444;
    border-color: #444;
    color: #fff;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}
.card .back a {
    background-position: 0 2px;
    color: rgba(255, 255, 255, 0.75);
}
.card .back a:hover {
    color: white;
    background-position: 0 -18px;
}
.card.flip .back {
    z-index: 1000;
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.card .front:hover {
    border-color: #cccccc;
    -webkit-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
}
.card .front:hover a { visibility: visible }
.card .flip_back,
.card .flip_front {
    visibility: hidden;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}
.card:hover { z-index: 1000 }
.card:hover .flip_back,
.card:hover .flip_front { visibility: visible }
.isotope-item { z-index: 2 }
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/* blog shit */
/*-----------*/
.blog pre code, .blog code, .blog pre{
    font-size: 12px;
    font-family: monospace;
}
div.blog {
    margin-top: 20px;
}
.author {
    color: #A55;
}
.date {
    float: left;
    margin-right: 5px;
}
.nav-user-blog ul{
    margin-top: 10px !important;
}
.nav-link li > a:hover, .nav-link li > a:focus, .navl-ink:hover > a {
    color: #999;
}
h2.recent {
    border-top: 1px solid #CCC;
}
h2.post a{
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 27px;
}
h2.postdetail {
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 10px; !important;
}
h2.postdetail a{
    text-decoration: none;
    color: #444;
}
h2.postdetail a:hover{
    text-decoration: underline;
}
h2.post a:hover{
    text-decoration: underline;
}
div.recent_posts {
    margin-bottom: 20px;
}
.recent_posts h3 {
    border-bottom: 1px solid #DDD;
    font-weight: bold;
    font-size: 20px;
    margin: 0 0 10px 0; !important;
}
.recent_posts p {
    margin: 0px;
}
p.recent_author {
    margin: 0 0 20px 0;
    line-height: 10px;
    font-size: 10px !important;
}
.apost h3 {
    border-bottom: 1px solid #DDD;
    font-weight: bold;
    font-size: 20px;
    margin: 15px 0 8px 0; !important;
}
.apost {
    margin-bottom: 30px !important;
    line-height: 17pt;
    font-size: 16px;
}
.apost img {
    padding: 10px;
    border: 1px solid #CCC;
}
img.gist-fork {
    padding: 0 0 11px 0;
    border: none !important;    
}
.date_social {
    line-height: 14pt;
}
.date span{
    text-shadow: none;
    font-weight: normal;
    font-size: 12px;
}
.slide {
  overflow: hidden;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.slide .on,.slide .off,.slide .blob {
    float: left;
}
.slide .blob {
    position: relative;
    z-index: 99;
    cursor: hand;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}
.toggle {
    padding-top: 0px;
    height: 24px;
    width: 76px;
}
.icon-guide {
    background-position: -48px -48px;
}

.icon-post {
    background-position: 0 -72px;
}

.icon-video {
    background-position: -192px 0;
}
.iphone .slide {
  border-radius: 9999px;
  box-shadow: 0 0 0 1px #999;
}
.iphone .slide .on,.iphone .slide .off,.iphone .slide .blob {
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 10px;
  text-shadow: 0 0 8px rgba(0,0,0,0.5);
}
.iphone .slide .on {
  border-radius: 9999px 0 0 9999px;
  background: #037bda; /* Old browsers */
  box-shadow: inset 2px 2px 5px rgba(0,0,0,0.4);
}
.iphone .slide .off {
  box-shadow: inset -2px 2px 5px rgba(0,0,0,0.4);
  border-radius: 0 9999px 9999px 0;
  color: rgb(130,130,130);
  text-shadow: 0 0 1px white;

}
.iphone .slide .on:after {
  background: #1189f1; /* Old browsers */
  background: -moz-linear-gradient(top,  #1189f1 0%, #3797ef 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1189f1), color-stop(100%,#3797ef)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #1189f1 0%,#3797ef 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #1189f1 0%,#3797ef 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #1189f1 0%,#3797ef 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #1189f1 0%,#3797ef 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1189f1', endColorstr='#3797ef',GradientType=0 ); /* IE6-9 */
  height: 50%;
  content: '';
  margin-top: -19%;
  display: block;
  border-radius: 9999px;
  margin-left: 10%;
}
.iphone .slide .off {
  background: #ECECEC;
}
.iphone .slide .off:after {
  background: #fafafa; /* Old browsers */
  background: -moz-linear-gradient(top,  #fafafa 0%, #fdfdfd 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(100%,#fdfdfd)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #fafafa 0%,#fdfdfd 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #fafafa 0%,#fdfdfd 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fdfdfd',GradientType=0 ); /* IE6-9 */
  height: 50%;
  content: '';
  margin-top: -19%;
  display: block;
  margin-right: 10%;
  border-radius: 9999px;
}
.iphone .slide .blob {
  border-radius: 50px;
  background: #d1d1d1; /* Old browsers */
  background: -moz-linear-gradient(top,  #d1d1d1 0%, #fafafa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d1d1d1), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d1d1d1 0%,#fafafa 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d1d1d1 0%,#fafafa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */
  box-shadow: inset 0 0 0 1px rgba(0,0,0,0.6), inset 0 0 0 2px white, 0 0 3px rgba(0,0,0,0.6);
}

/* end blog shit */
/*---------------*/
