{% extends base_layout %}

<!-- Set Title -->
{% block title %}
  {% trans %}New Article{% endtrans %}
{% endblock %}

{% block extra_nav %}
    {{ macros.nav_menu('blog', user_id) }}
{% endblock %}`

{% block header_title_lead %}
    <h1><a href="/blog/{{ username }}">{{ username }}</a> / <a href="{{ uri_for("blog-article-list", username=username) }}">articles</a> / new</h1>
    <p class="lead">
        Enter a title and summary for your article.  A new draft article will be stored as a <a href="http://gist.github.com/">gist</a> in your Github account where you can edit it for publication as a blog article or a guide.  You'll be able to preview and publish the article from <a href="{{ uri_for("blog-article-list", username=username) }}">your list of articles</a>.
    </p>
{% endblock %}

{% block content %}
    <form id="form_edit_profile" action="{{ url|safe }}" method="post" class="well form-horizontal">
        <fieldset>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
            {{ macros.input(form, "title", _("Title"), placeholder=_("Awesome Article"), class="input-xlarge focused required") }}
            {{ macros.input(form, "summary", _("Summary"), placeholder=_("This article details things I've never seen or heard before.  And it's magic."), class="input-xlong focused required") }} 
            {{ macros.input(form, "article_type", _("Article Type")) }}
            <div class="form-actions">
                <button type="submit" class="btn btn-inverse btn-large">{% trans %}Create{% endtrans %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript" language="JavaScript">
    $(window).load(function(){
        $("#articletitle").focus();
    });
    </script>
{% endblock %}

