<!-- renders user page which includes posts and guides -->
{% extends base_layout %}

{% block title %}
  {% trans %}{{ name }}'s Blog {% endtrans %}
{% endblock %}

{% block rssfeed %}
	<link rel="alternate" type="application/rss+xml" title="Feed for {{ name }} on StackGeek.com" href="http://www.stackgeek.com/blog/{{ blog_username }}/feed/rss/" />
{% endblock %}

{% block extra_nav %}
	{{ macros.nav_menu('blog', user_id) }}
{% endblock %}

{% block header_title_lead %}
  <div class="row">
  	<div class="span12">
      <h1 class="author">{{name}}</h1>
      <img class="avatar" class="img-polaroid" src="{{gravatar_url}}"/>
      <p class="author-lead">{{ bio }}</p>
      {% if owner_github_username %}
      <iframe src="http://ghbtns.com/github-btn.html?user={{ owner_github_username }}&type=follow" allowtransparency="true" frameborder="0" scrolling="0" width="150" height="20"></iframe>
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row blog">
    {% if is_mobile %}
    <div class="span3">
      <a class="twitter-timeline" data-dnt=true href="https://twitter.com/{{blog_username}}" data-widget-id="{{twitter_widget_id}}">Tweets by @{{blog_username}}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {% endif %}
    <div class="span9">
      <ul class="nav nav-tabs nav-user-blog">
        <li class="active"><a href="#posts" data-toggle="tab">Recent Posts</a></li>
        <li><a href="#guides" data-toggle="tab">Recent Guides</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="posts">
        {% for item in blogposts %}
          <div class="apost">
    	      <h2 class="post"><a href="/blog/{{ item.article_owner }}/{{ item.article_type }}/{{ item.article_slug }}">{{ item.article_title }}</a></h2>
    	      <div class="date_social">
              <span class="date label label-important">{{ item.created }}</span>
              {% if user_id %}
                {{ macros.fork_gist_widget(item.article_owner, item.article_id) }}
              {% endif %}
              {{ macros.g_plus_widget("http://%s/blog/%s/%s/%s"%(item.article_host, item.article_owner, item.article_type, item.article_slug)) }}
              {{ macros.tweet_widget("http://%s/blog/%s/%s/%s"%(item.article_host, item.article_owner, item.article_type, item.article_slug), item.article_summary) }}
            </div>
            {{item.article_html}}
            <a class="btn" href="/blog/{{ item.article_owner }}/{{ item.article_type }}/{{ item.article_slug }}#comment">View Comments</a>
          </div>
        {% endfor %}
        </div>
        <div class="tab-pane" id="guides">
        {% for item in guides %}
          <div class="apost">
            <h2 class="post"><a href="/blog/{{ item.article_owner }}/{{ item.article_type }}/{{ item.article_slug }}">{{ item.article_title }}</a></h2>
            <div class="date_social">
              <span class="date label label-important">{{ item.created }}</span>
              {% if user_id %}
                {{ macros.fork_gist_widget(item.article_owner, item.article_id) }}
              {% endif %}
              {{ macros.g_plus_widget("/blog/%s/%s/%s"%(item.article_owner, item.article_type, item.article_slug)) }}
              {{ macros.tweet_widget("/blog/%s/%s/%s"%(item.article_owner, item.article_type, item.article_slug), item.article_summary) }}
            </div>
            {{item.article_html}}
            <a class="btn" href="/blog/{{ item.article_owner }}/{{ item.article_type }}/{{ item.article_slug }}#comments">View Comments</a>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
    {% if not is_mobile %}
    <div class="span3">
		  <a class="twitter-timeline" data-dnt=true href="https://twitter.com/{{blog_username}}" data-widget-id="{{twitter_widget_id}}">Tweets by @{{blog_username}}</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {% endif %}
  </div>

{% endblock %}