<!-- renders an individual blog post -->
{% extends base_layout %}

{% block title %}
  {{ entry.article_title }}
{% endblock %}

{% block rssfeed %}
	<link rel="alternate" type="application/rss+xml" title="Feed for {{ username }} on StackGeek.com" href="http://www.stackgeek.com/blog/{{ username }}/feed/rss/" />
{% endblock %}

{% block extra_nav %}
	{{ macros.nav_menu(menu_choice, user_id) }}
{% endblock %}

{% block content %}
  <div class="row blog">
    {% if is_mobile %}
    <div class="span3">
      <a class="twitter-timeline" href="https://twitter.com/tinyprobe" data-widget-id="271067215346941952">Tweets by @tinyprobe</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {% endif %}
    <div class="span9">
      <div class="apost">
        <h2 class="postdetail"><a href="/blog/{{ entry.article_slug }}">{{ entry.article_title }}</a></h2>
        <div class="date_social">
          <div class="date"><span class="label label-inverse">{{ entry.created }}</span></div>
          {{ macros.g_plus_widget("http://%s/blog/%s"%(entry.article_host, entry.article_slug)) }}
          {{ macros.tweet_widget("http://%s/blog/%s"%(entry.article_host, entry.article_slug), entry.article_summary) }}
        </div>
        <p>by <a href="/blog/{{ entry.article_owner }}">{{ entry.article_owner }}</a>
        {{entry.article_html}}
        <a name="comments"></a>
        <div id="disqus_thread"></div>
      </div>
    </div>
    {% if not is_mobile %}
    <div class="span3">
      <a class="twitter-timeline" href="https://twitter.com/tinyprobe" data-widget-id="271067215346941952">Tweets by @tinyprobe</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    {% endif %}
  </div>
{% endblock %}

{% block mediaJS %}
    <script type="text/javascript" language="JavaScript">
    $(window).load(function(){
      var disqus_shortname = 'tinyprobe';
      var disqus_developer = 1;
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    });
    </script>
{% endblock %}
