<!-- renders /guides/ -->
{% extends base_layout %}

{% block title %}
  {% trans %}Guides{% endtrans %}
{% endblock %}

{% block rssfeed %}
	<link rel="alternate" type="application/rss+xml" title="Feed for {{ username }} on StackGeek.com" href="http://www.stackgeek.com/blog/{{ username }}/feed/rss/" />
{% endblock %}

{% block extra_nav %}
	{{ macros.nav_menu('guides', user_id) }}
{% endblock %}

{% block header_title_lead %}
{% endblock %}

{% block content %}
<div class="row blog">
	<div class="span9">
	{% for item in guides %}
		<div class="apost">
			<h2 class="postdetail"><a href="/blog/{{ item.article_owner }}/{{ item.article_type }}s/{{ item.article_slug }}">{{ item.article_title|escape }}</a></h2>
			<div class="date_social">
    			<div class="date"><span class="label label-important">{{ item.created }}</span></div>
				{% if user_id %}
					{{ macros.fork_gist_widget(item.article_owner, item.article_id) }}
				{% endif %}
				{{ macros.g_plus_widget("http://%s/blog/%s/%s/%s"%(item.article_host, item.article_owner, item.article_type, item.article_slug)) }}
				{{ macros.tweet_widget("http://%s/blog/%s/%s/%s"%(item.article_host, item.article_owner, item.article_type, item.article_slug), item.article_summary) }}
			</div>
			<p>by <a href="/blog/{{ item.article_owner }}">{{ item.article_owner }}</a>
			<p>{{item.article_summary|escape }}</p>
			<a class="btn" href="/blog/{{ item.article_owner }}/{{ item.article_type }}/{{ item.article_slug }}#comments">Guide Comments</a>
			<a class="btn" target="_blank" href="/forums">Forum Discussion</a>
		</div>	
	{% endfor %}
	</div>
	<div class="span3">
		<a class="twitter-timeline" href="https://twitter.com/stackgeek" data-widget-id="264213994309558272">Tweets by @stackgeek</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	</div>
</div>
{% endblock %}